body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.card-box:hover{
    background-color: rgb(30, 135, 177);
    color: aliceblue;
    transform: scale(1.04);
    transition: transform ease-in-out 0.3s;
}

.card-body ul{
    list-style: none;
}

.end{
    height: 250px;
}

